html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body-lock {
  overflow: hidden;
}

.screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 18;
  background-color: rgba(41, 41, 41, 0.6);
}

.screen-active {
  display: block;
}

/*Header start*/

.header {
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center 0;
  height: 180px;
  display: flex;
  align-items: center;
}

.header-container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}

.shelter-for-pets {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 35px;
}

.nav-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}

.nav-link-1 {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.nav-link-2,
.nav-link-3,
.nav-link-4 {
  transition: color 0.3s ease-in-out;
}

.nav-link-2:hover,
.nav-link-3:hover,
.nav-link-4:hover {
  color: #fafafa;
}

.nav-link-2:active,
.nav-link-3:active,
.nav-link-4:active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  margin-right: 43px;
  cursor: pointer;
}

.hamburger-line {
  display: block;
  width: 100%;
  height: 2px;
  background: #f1cdb3;
  position: absolute;
  left: 0;
  transition: all 0.5s linear;
}

.line1 {
  top: 0;
}

.line2 {
  top: 50%;
  transform: translateY(-50%);
}

.line3 {
  bottom: 0px;
}

/*Header end*/

/*Main start*/

/*Not only start*/

.not-only {
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center -180px;
  height: 728px;
}

.not-only-container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.not-only-content {
  margin-top: 163px;
  width: 460px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.not-only-title {
  width: 310px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

.offer-text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}

.main-button {
  width: 207px;
  height: 52px;
  background-color: #f1cdb3;
  border-radius: 100px;
  border: none;
  transition: 0.3s ease-in-out;
}

.link-to-our-friend {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}

.main-button:hover {
  background-color: #fddcc4;
}

/*Not only end*/

/*About the shelter start*/

.about-the-shelter {
  height: 588px;
  background-color: #ffffff;
}

.about-the-shelter-container {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px;
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: center;
}

.about-the-shelter-content {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-the-shelter-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-the-shelter-description {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

/*About the shelter end*/

/*Our friends start*/

.our-friends {
  height: 877px;
  background-color: #f6f6f6;
}

.pop-up-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 552px;
  width: 952px;
  z-index: 30;
}

.pop-up-container-open {
  display: block;
}

.pop-up-window {
  position: absolute;
  bottom: 0;
  left: 26px;
  height: 500px;
  width: 900px;
  background-color: #fafafa;
  display: flex;
  gap: 29px;
  padding-right: 20px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
}

.pop-photo {
  width: 500px;
  height: 500px;
  border-radius: 9px 0 0 9px;
}

.pop-content {
  overflow: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pop-content-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pop-pet-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}

.breed-type-pet {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}

.description-of-pet {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}

.param-of-pet {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
  list-style-position: inside;
}

.param-marker {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.param-name {
  color: #000000;
}

.param-val {
  font-weight: 400;
  color: #000000;
}

.close-pop-up {
  position: absolute;
  top: 0;
  right: -16px;
  height: 52px;
  width: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background-color: transparent;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.close-pop-up-active {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.our-friends-container {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.our-friends-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.our-friends-pets-container {
  display: flex;
  gap: 53px;
  align-items: center;
}

.left-right-arrow {
  height: 52px;
  width: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.left-right-arrow:hover {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.card-of-pets-main-container {
  width: 990px;
  height: 435px;
  overflow: hidden;
}

.carousel {
  display: flex;
  position: relative;
  left: -1080px;
  gap: 90px;
}

.card-wrapper {
  display: flex;
  gap: 90px;
}

@keyframes move-right {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

.card-of-pets-container {
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #fafafa;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-of-pets-container:hover {
  background: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card-of-pets-container:hover .learn-more-button {
  border: 2px solid #fddcc4;
  background-color: #fddcc4;
}

.pets-photo {
  border-radius: 9px 9px 0px 0px;
}

.pet-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.learn-more-button {
  width: 187px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 0.3s ease-in-out;
}

.our-pets-button {
  width: 261px;
  height: 52px;
  background-color: #f1cdb3;
  border-radius: 100px;
  border: none;
  transition: 0.3s ease-in-out;
}

.link-to-our-pets {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}

.our-pets-button:hover {
  background-color: #fddcc4;
}

/*Our friends end*/

/*Help the shelter start*/

.help {
  height: 611px;
  background-color: #ffffff;
}

.help-container {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.help-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.help-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
}

.help-list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.help-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/*Help the shelter end*/

/*In eddition start*/

.in-addition {
  height: 462px;
  background-color: #f6f6f6;
}

.in-addition-container {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.in-addition-content {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.in-addition-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.bank-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.button-count {
  width: 349px;
  height: 43px;
  border: none;
  background-color: #f1cdb3;
  border-radius: 9px;
  transition: 0.3s ease-in-out;
}

.button-count:hover {
  background-color: #fddcc4;
}

.count-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
}

.legal-information {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

/*In eddition end*/

/*Main end*/

/*Footer start*/
.contacts {
  background-image: url(../../assets/images/footer-gradient-background.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center 0;
  height: 350px;
}

.contacts-container {
  width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}

.questions-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 16px;
}

.questions-title {
  width: 280px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.email {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}

.phone {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}

.adress-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;
}

.adress-box-title {
  width: 270px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.location {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}

/*Footer end*/
